<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhenhua.cfos.mapper.seller.MenuMapper">
    <sql id="menuVO">
        f.food_id as foodId,
        f.food_name as foodName,
        f.food_price as foodPrice,
        f.description,
        f.is_recommend as isRecommend,
        f.today_sell as todaySell
    </sql>

    <insert id="foodAdd">
        insert into food(food_id, food_name, food_price, description, create_time, update_time, is_recommend, today_sell, seller_id, is_delete)
        values(#{foodInfoDTO.foodId}, #{foodInfoDTO.foodName}, #{foodInfoDTO.foodPrice}, #{foodInfoDTO.description}, #{createTime}, #{createTime}, #{foodInfoDTO.isRecommend}, 0, #{foodInfoDTO.sellerId}, 0)
    </insert>

    <update id="foodUpdate">
        update food set food_name = #{foodInfoDTO.foodName}, food_price = #{foodInfoDTO.foodPrice},
                        description = #{foodInfoDTO.description}, is_recommend = #{foodInfoDTO.isRecommend},
                        update_time = #{updateTime}
            where food_id = #{foodInfoDTO.foodId}
    </update>

    <update id="foodDelete">
        update food set is_delete = 1, delete_time = #{deleteTime} where food_id = #{foodId}
    </update>

    <select id="menuInfo" resultType="com.wuzhenhua.cfos.model.VO.seller.MenuVO">
        select <include refid="menuVO"></include>
        from
            food f
        where
            f.seller_id = #{sellerId}
        and
            f.is_delete = 0
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="menuInfoTotal" resultType="java.lang.Integer">
        select
        count(*)
        from
        food f
        where
        f.seller_id = #{sellerId}
        and
        f.is_delete = 0
    </select>

    <select id="menuInfoFuzzy" resultType="com.wuzhenhua.cfos.model.VO.seller.MenuVO">
        select <include refid="menuVO"></include>
        from
        food f
        where
        f.seller_id = #{sellerId}
        and
        f.is_delete = 0
        <if test="foodName != null and foodName != ''">
            AND food_name Like concat('%',#{foodName},'%')
        </if>
        <if test="foodPrice != null and foodPrice != ''">
            and food_price = #{foodPrice}
        </if>
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="menuInfoFuzzyTotal" resultType="java.lang.Integer">
        select
        count(*)
        from
        food f
        where
        f.seller_id = #{sellerId}
        and
        f.is_delete = 0
        <if test="foodName != null and foodName != ''">
            and food_name like concat('%', #{foodName}, '%')
        </if>
        <if test="foodPrice != null and foodPrice != ''">
            and food_price = #{foodPrice}
        </if>
    </select>

    <select id="queryFoodByFoodName" resultType="java.lang.Integer">
        select
            count(food_name)
        from
            food
        where
            seller_id = #{sellerId}
        and
            food_name = #{foodName}
        and
            is_delete = 0
    </select>

    <select id="queryOrderInfo" resultType="java.lang.Integer">
        select count(order_id) from forder where food_id = #{foodId}
        and is_delete_for_seller = 0
        and is_finish = 0
        and DATE(order_time) = CURDATE()
    </select>
</mapper>