<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhenhua.cfos.mapper.seller.PreviousMapper">
    <update id="recoverPreviousFood">
        update food set is_delete = 0 where food_id = #{foodId}
    </update>

    <update id="batchRecoverPreviousFood">
        update food set is_delete = 0 where food_id in
        <foreach collection="foodIds" item="foodId" open="(" separator="," close=")">
            #{foodId}
        </foreach>
    </update>

    <update id="deletePreviousFood">
        update food set is_delete = 2, delete_time = #{deleteTime} where food_id = #{foodId}
    </update>

    <update id="batchDeletePreviousFood">
        update food set is_delete = 2, delete_time = #{deleteTime} where food_id in
        <foreach collection="foodIds" item="foodId" open="(" separator="," close=")">
            #{foodId}
        </foreach>
    </update>

    <update id="deletePreviousSender">
        update sender set is_delete = 2, delete_time = #{deleteTime} where sender_id = #{senderId}
    </update>

    <update id="batchDeletePreviousSender">
        update sender set is_delete = 2, delete_time = #{deleteTime} where sender_id in
        <foreach collection="senderIds" item="senderId" open="(" separator="," close=")">
            #{senderId}
        </foreach>
    </update>

    <update id="deletePreviousOrderFromSeller">
        update forder set is_delete_for_seller = 1 where order_id = #{orderId}
    </update>

    <update id="batchDeletePreviousOrderFromSeller">
        update forder set is_delete_for_seller = 1 where order_id in
        <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </update>

    <select id="previousFoodInfo" resultType="com.wuzhenhua.cfos.model.VO.seller.PreviousMenuVO">
        select food_id as foodId, food_name as foodName, food_price as foodPrice,
               is_recommend as isRecommend, create_time as createTime, delete_time as deleteTime
        from food
        where is_delete = 1
        and seller_id = #{sellerId}
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="previousFoodInfoTotal" resultType="java.lang.Integer">
        select count(*)
        from food
            where is_delete = 1
        and seller_id = #{sellerId}
    </select>

    <select id="previousOrderInfo" resultType="com.wuzhenhua.cfos.model.VO.seller.PreviousOrderVO">
        select fo.order_id as orderId, st.student_name as studentName, st.student_address as studentAddress,
               f.food_name as foodName, f.food_price as foodPrice, fo.order_time as orderTime,
               fo.take_time as takeTime, fo.send_time as sendTime, se.sender_name as senderName
        from forder fo
        inner join student st
        on st.student_id = fo.student_id
        inner join food f
        on f.food_id = fo.food_id
        left join sender se
        on se.sender_id = fo.sender_id
        where f.seller_id = #{sellerId}
        and fo.is_finish = 1
        and fo.is_delete_for_seller = 0
        and order_time > date(date_add(now(), interval -4 year))
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="previousOrderInfoTotal" resultType="java.lang.Integer">
        select count(*)
        from forder fo
                 inner join student st
                            on st.student_id = fo.student_id
                 inner join food f
                            on f.food_id = fo.food_id
                 left join sender se
                           on se.sender_id = fo.sender_id
        where f.seller_id = #{sellerId}
          and fo.is_finish = 1
          and fo.is_delete_for_seller = 0
          and order_time > date(date_add(now(), interval -4 year))
    </select>

    <select id="previousSenderInfo" resultType="com.wuzhenhua.cfos.model.VO.seller.PreviousSenderVO">
        select sender_id as senderId, sender_name as senderName, sender_telephone as senderTelephone,
               work_date as workDate, quit_date as quitDate
        from sender
        where seller_id = #{sellerId}
        and is_delete = 1
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="previousSenderInfoTotal" resultType="java.lang.Integer">
        select count(*)
        from sender
        where seller_id = #{sellerId}
        and is_delete = 1
    </select>
</mapper>