<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhenhua.cfos.mapper.student.MyOrderMapper">

    <sql id="orderInfo">
        fo.order_id as orderId, fo.food_id as foodId, fo.sender_id as senderId,
        fo.order_number as foodNumber, f.food_name as foodName,
        f.food_price as foodPrice, s.window_name as windowName,
        s.window_address as windowAddress, s.principal_telephone as principalTelephone
    </sql>

    <select id="myOrderInfo" resultType="com.wuzhenhua.cfos.model.VO.student.MyOrderInfoVO">
        select
        <include refid="orderInfo"></include>
        from food f
        inner join seller s
        on s.seller_id = f.seller_id
        inner join forder fo
        on fo.food_id = f.food_id
        where f.food_id in
        (
            select food_id from forder
            where student_id = #{studentId}
        )
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="myOrderInfoTotal" resultType="java.lang.Integer">
        select count(order_id) from forder
        where student_id = #{studentId}
    </select>

    <select id="myOrderInfoDetails" resultType="com.wuzhenhua.cfos.model.VO.student.MyOrderInfoDetailsVO">
        select
            fo.order_time as orderTime, fo.take_time as takeTime,
            fo.send_time as sendTime, se.sender_name as senderName,
            se.sender_telephone as senderTelephone
        from forder fo
        left join sender se
        on fo.sender_id = se.sender_id
        where fo.order_id = #{orderId}
        <if test="senderId != null and senderId != ''">
            and fo.sender_id = #{senderId}
        </if>
    </select>
</mapper>