<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhenhua.cfos.mapper.admin.AdminMainMapper">
    <select id="queryWindowNames" resultType="com.wuzhenhua.cfos.model.temp.WindowNamesAndSellerIds">
        select window_name as windowName, seller_id as sellerId from seller where is_delete = 0
    </select>

    <select id="queryEveryDayIncomeInThisMonth"
            resultType="com.wuzhenhua.cfos.model.temp.SomeDayAndUnitPriceAndOrderNumber">
        select sum(fo.order_number) as orderNumber, f.food_price as unitPrice
        from forder fo
                 inner join food f
                            on fo.food_id = f.food_id
                 inner join seller s
                            on s.seller_id = f.seller_id
        where s.seller_id = #{sellerId}
          and DATE_FORMAT(fo.finish_time,'%y%m') = DATE_FORMAT(CURDATE(),'%y%m')
        GROUP BY DATE_FORMAT(fo.finish_time, '%d')
    </select>

    <select id="queryEveryDayIncomeInThisQuarter"
            resultType="com.wuzhenhua.cfos.model.temp.SomeDayAndUnitPriceAndOrderNumber">
        select sum(fo.order_number) as orderNumber, f.food_price as unitPrice
        from forder fo
                 inner join food f
                            on fo.food_id = f.food_id
                 inner join seller s
                            on s.seller_id = f.seller_id
        where s.seller_id = #{sellerId}
          and QUARTER(fo.finish_time) = QUARTER(NOW())
        GROUP BY DATE_FORMAT(fo.finish_time, '%d')
    </select>

    <select id="queryEveryDayIncomeInThisYear"
            resultType="com.wuzhenhua.cfos.model.temp.SomeDayAndUnitPriceAndOrderNumber">
        select sum(fo.order_number) as orderNumber, f.food_price as unitPrice
        from forder fo
                 inner join food f
                            on fo.food_id = f.food_id
                 inner join seller s
                            on s.seller_id = f.seller_id
        where s.seller_id = #{sellerId}
          and YEAR(fo.finish_time) = YEAR(NOW())
        GROUP BY DATE_FORMAT(fo.finish_time, '%d')
    </select>
</mapper>
