<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuzhenhua.cfos.mapper.admin.UserManageMapper">
    <update id="deleteSingleStudent">
        update student set is_delete = 1 where student_id = #{studentId}
    </update>

    <select id="studentBaseInfo" resultType="com.wuzhenhua.cfos.model.VO.admin.StudentBaseInfoVO">
        select
            s.student_id as studentId,
            s.student_username as username,
            s.student_name as name,
            s.student_telephone as telephone,
            s.student_address as address,
            s.enrollment_date as enrollmentDate
        from
            student s
        where
            s.is_delete = 0
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="studentBaseInfoTotal" resultType="java.lang.Integer">
        select
        count(*)
        from
        student s
        where
        s.is_delete = 0
    </select>

    <select id="studentBaseInfoFuzzy" resultType="com.wuzhenhua.cfos.model.VO.admin.StudentBaseInfoVO">
        select
        s.student_id as studentId,
        s.student_username as username,
        s.student_name as name,
        s.student_telephone as telephone,
        s.student_address as address
        from
        student s
        where
        s.is_delete = 0
        <if test="username != null and username !=''">
            AND student_username Like concat('%',#{username},'%')
        </if>
        <if test="address != null and address !=''">
            AND student_address Like concat('%',#{address},'%')
        </if>
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="studentBaseInfoFuzzyTotal" resultType="java.lang.Integer">
        select
        count(*)
        from
        student s
        where
        s.is_delete = 0
        <if test="username != null and username !=''">
            AND student_username Like concat('%',#{username},'%')
        </if>
        <if test="address != null and address !=''">
            AND student_address Like concat('%',#{address},'%')
        </if>
    </select>

    <select id="studentOrderInfo" resultType="com.wuzhenhua.cfos.model.VO.admin.StudentOrderInfoVO">
        select
            fo.order_time as orderTime,
            fo.take_time as takeTime,
            fo.send_time as sendTime,
            fo.finish_time as finishTime,
            f.food_name as foodName,
            f.food_price as foodPrice,
            se.window_name as windowName,
            se.window_address as windowAddress,
            s.sender_name as senderName
        from
            forder fo
        inner join
            student st
        on
            st.student_id = fo.student_id
        inner join
            food f
        on
            f.food_id = fo.food_id
        inner join
            seller se
        on
            se.seller_id = f.seller_id
        left join
            sender s
        on
            fo.sender_id = s.sender_id
        where
            st.is_delete = 0
        and
            f.is_delete = 0
        and
            se.is_delete = 0
        and
            st.student_id = #{studentId}
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="studentOrderInfoTotal" resultType="java.lang.Integer">
        select
            count(*)
        from
            forder fo
                inner join
            student st
            on
                st.student_id = fo.student_id
                inner join
            food f
            on
                f.food_id = fo.food_id
                inner join
            seller se
            on
                se.seller_id = f.seller_id
        where
            st.is_delete = 0
          and
            f.is_delete = 0
          and
            se.is_delete = 0
          and
            st.student_id = #{studentId}
    </select>

    <select id="studentCollectInfo" resultType="com.wuzhenhua.cfos.model.VO.admin.StudentCollectInfoVO">
        select
            c.collect_time as collectTime,
            f.food_name as foodName,
            f.food_price as foodPrice,
            se.window_name as windowName,
            se.window_address as windowAddress
        from
            collect c
        inner join
            student st
        on
            st.student_id = c.student_id
        inner join
            food f
        on
            f.food_id = c.food_id
        inner join
            seller se
        on
            se.seller_id = f.seller_id
        where
            st.is_delete = 0
        and
            f.is_delete = 0
        and
            se.is_delete = 0
        and
            st.student_id = #{studentId}
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="studentCollectInfoTotal" resultType="java.lang.Integer">
        select
            count(*)
        from
            collect c
                inner join
            student st
            on
                st.student_id = c.student_id
                inner join
            food f
            on
                f.food_id = c.food_id
                inner join
            seller se
            on
                se.seller_id = f.seller_id
        where
            st.is_delete = 0
          and
            f.is_delete = 0
          and
            se.is_delete = 0
          and
            st.student_id = #{studentId}
    </select>

    <select id="sellerBaseInfo" resultType="com.wuzhenhua.cfos.model.VO.admin.SellerBaseInfoVO">
        select
            s.seller_id as sellerId,
            s.seller_username as username,
            s.principal_name as principalName,
            s.principal_telephone as principalTelephone,
            s.window_name as windowName,
            s.window_address as windowAddress
        from
            seller s
       where
            s.is_delete = 0
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="sellerBaseInfoTotal" resultType="java.lang.Integer">
        select
        count(*)
        from
        seller s
        where
        s.is_delete = 0
    </select>

    <select id="sellerBaseInfoFuzzy" resultType="com.wuzhenhua.cfos.model.VO.admin.SellerBaseInfoVO">
        select
        s.seller_id as sellerId,
        s.seller_username as username,
        s.principal_name as principalName,
        s.principal_telephone as principalTelephone,
        s.window_name as windowName,
        s.window_address as windowAddress
        from
        seller s
        where
        s.is_delete = 0
        <if test="username != null and username !=''">
            AND seller_username Like concat('%',#{username},'%')
        </if>
        <if test="address != null and address !=''">
            AND window_address Like concat('%',#{address},'%')
        </if>
        <if test="windowName != null and windowName !=''">
            AND window_name Like concat('%',#{windowName},'%')
        </if>
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="sellerBaseInfoFuzzyTotal" resultType="java.lang.Integer">
        select
        count(*)
        from
        seller s
        where
        s.is_delete = 0
        <if test="username != null and username !=''">
            AND seller_username Like concat('%',#{username},'%')
        </if>
        <if test="address != null and address !=''">
            AND window_address Like concat('%',#{address},'%')
        </if>
        <if test="windowName != null and windowName !=''">
            AND window_name Like concat('%',#{windowName},'%')
        </if>
    </select>

    <select id="sellerFoodInfo" resultType="com.wuzhenhua.cfos.model.VO.admin.SellerFoodInfoVO">
        select
            f.food_name as foodName,
            f.food_price as foodPrice,
            f.is_recommend as isRecommend,
            f.create_time as createTime,
            f.update_time as updateTime,
            f.today_sell as todaySell
        from
            food f
        where
            f.seller_id = #{sellerId}
        and
            f.is_delete = 0
        limit #{pageNum}, #{pageSize}
    </select>

    <select id="sellerFoodInfoTotal" resultType="java.lang.Integer">
        select
            count(*)
        from
            food f
        where
            f.seller_id = #{sellerId}
          and
            f.is_delete = 0
    </select>

    <select id="sellerSenderInfo" resultType="com.wuzhenhua.cfos.model.VO.admin.SellerSenderInfoVO">
        select
            se.sender_name as senderName,
            se.sender_telephone as senderTelephone,
            se.work_date as workDate,
            se.quit_date as quitDate,
            se.send_number as sendNumber
        from
            sender se
        where
            se.seller_id = #{sellerId}
    </select>

    <select id="sellerSenderInfoTotal" resultType="java.lang.Integer">
        select
            count(*)
        from
            sender se
        where
            se.seller_id = #{sellerId}
    </select>

    <select id="queryStudentGraduateTime" resultType="java.lang.String">
        select graduate_date from student where student_id = #{studentId}
    </select>
</mapper>